<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Blogger</title>
  <link rel="icon" href="~/MyStaticFiles/chat.png" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/MyStaticFiles/CSS/_Layout.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/MyStaticFiles/CSS/Following.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<body>
  @using Microsoft.AspNetCore.Identity
  @inject SignInManager<User> signInManager
  @if (signInManager.IsSignedIn(User))
  {

    <header class="m-2 d-flex justify-content-center sticky-top" role="banner">
      <nav class="container rounded-pill m-4 p-2 pr-3 bg-warning justify-content-center">
        <div class="row">
          <div class="col-1">
            <a asp-area="" asp-controller="Home" asp-action="Index">
              <img class="rounded-pill" id="logo" src="~/MyStaticFiles/chat.png" title="Chatter"
              alt="can't be displayed" />
            </a>
          </div>
          <div class="col-6 d-flex align-items-center">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
              </li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="KnowUs">Know the
                  Team</a></li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="FeedPage"
                asp-action="FeedPage">feed</a></li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Follow" asp-action="Topics">Follow
                  Topics</a></li>
            </ul>
          </div>
          <div class="col-5 pt-1 pe-5 clearfix">
            @* <a class="btn btn-primary float-end" asp-action="Login" asp-controller="Account" asp-area="">Sign In</a> *@


            <div class="col-10 d-flex align-items-center justify-content-end" id="sign-in">

              <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                <input type="submit" value="Log Out" class="btn btn-outline-light" />
                <span class="text-light">@User.Identity.Name</span>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
  }



  else
  {
    <header class="m-2 d-flex justify-content-center sticky-top" role="banner">
      <nav class="container rounded-pill m-4 p-2 pr-3 bg-warning justify-content-center">
        <div class="row">
          <div class="col-1">
            <a asp-area="" asp-controller="Home" asp-action="Index">
              <img class="rounded-pill" id="logo" src="~/MyStaticFiles/chat.png" title="Chatter"
              alt="can't be displayed" />
            </a>
          </div>
          <div class="col-6 d-flex align-items-center">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
              </li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="KnowUs">Know the
                  Team</a></li>
            </ul>
          </div>
          <div class="col-5 pt-1 pe-5 clearfix">
            @{
              var action = ViewContext.RouteData.Values["action"]?.ToString();
            }

            <li class="nav-item" style="list-style: none">
              <a asp-action="Register" asp-controller="Account" asp-area="" class="btn btn-outline-light">Register</a>
            </li>
          </div>
        </div>
      </nav>

    </header>
  }









  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted" style="position:fixed;bottom: 0;z-index: 300;">
    <div style="left: 50%;text-align: center;">
      &copy; 2022 -<a asp-area="" asp-controller="Home" asp-action="Index">Blogger</a>
    </div>
  </footer>
  <script src="~/MyStaticFiles/CSS/mainPage.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>