

@{
    ViewData["Title"] = "Abou tUs";
}


<div>
    This is a protype website for a Blog page. 
    This page helps users to interact with different people about common interrests in Math, Science and Programming subjects.
    <br/>
    This page is build by two CS students from Al Maaref University. 
    Check us on <i>Contact Us</i> page.
</div>
