<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="HomePage.css">
</head>
<body>

  <div class="d-flex">
    <div class="nav">
    <a>
      <img
              class="rounded-pill"
              id="logo"
              src="chat.png"
              title="Chatter"
              alt="can't be displayed"
      />
    </a>
    <ul class="subnav">
      <li class="nav-item"><a class="nav-link">About us</a></li>
      <li class="nav-item"><a class="nav-link">Know the Team</a></li>
    </ul>
    <div class="d-flex align-items-center justify-content-end" id="sign-in">
      <button type="button" class="btn btn-outline-primary"> <a> Sign in </a></button>
    </div>
  </div>
  </div>


  <div id="carousel" class="snap">
    <div id="carousel-1">
      <div class="intro">
        <h1>Searching for answers?</h1>
        <h3>Ask us here!</h3>
        <button type="button" class="btn btn-outline-dark btn-lg"> <a> Sign in </a></button>
      </div>
    </div>
    <div id="carousel-2">
      <div class="intro">
        <h1>Have an Experience?</h1>
        <h2>You can help!</h2>
        <button type="button" class="btn btn-outline-dark btn-lg"> <a> Sign in </a></button>
      </div>
<!--      <img src="Online learning-bro (1).png" alt="help others">-->
    </div>
    <div id="carousel-3">
      <div class="intro">
        <h1>Interested to Know More...</h1>
        <h2>Follow different topics!</h2>
        <button type="button" class="btn btn-outline-dark btn-lg"> <a> Sign in </a></button>
      </div>
<!--      <img src="Course app-pana.png" alt="follow different topics">-->
    </div>
  </div>

<!--  <footer class="fixed-bottom">-->
<!--    <div id="copyRights" style="text-align: center;">-->
<!--      © 2022 Copyright:-->
<!--      <a href="">blogger.com</a>-->
<!--    </div>-->
<!--  </footer>-->
</body>
</html>