@{
    ViewData["title"] = "Following";
}
<div class="home_content">
    <div class="text">Profile- Following</div>
    <h6>Check below your followed topics:</h6>
    <ul class="list-group">
        <li class="list-group-item">
            Math


            <button class="btn btn-outline-primary"><i class="fas fa-ban"></i>&nbsp;Unfollow</button>


        </li>
        <li class="list-group-item">Science
            <button class="btn btn-outline-primary"><i class="fas fa-ban"></i>&nbsp;Unfollow</button>

        </li>
    </ul>
</div>
